<% include header.html %>
  
  <div style="color:red">
    <%= typeof(error)!== 'undefined' ? error : '' %>
  </div>
    
  <form method="POST" action="/">
    UserID:
    <input type="text" name="userId">
    <br>Password:
    <input type="password" name="password">
    </br>
    <input type="submit">
  </form>

<% include footer.html %>